spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/Bank
    username: pguser
    password: pgpassword
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
server:
  port: 8083